@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

$Accent: #FF7EF2;
$Fond: #26182F;
$Titre : #EED3FF; 
$SecondFond : #A673C6;


body{
    font-family: 'Patrick Hand', cursive;
    background-color: $Fond;
    color: $Titre;
}

