.Entete {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
    h1{
      font-family: 'Amatic SC', cursive;    
    }
    .Blob{
        width: 60%;
        height: 30%;
    } 

    
}

@media (max-width : 500px){
    .cache{
      display: none;
    }
  }
  