$Accent: #FF7EF2;
$Fond: #26182F;
$Titre : #EED3FF; 
$SecondFond : #A673C6;
$AccentDeux : #BA8FD5;
$AccentTrois : #784796;

.Oeuvre{
    .Contenant{
    width: 11.5em;
    height: 11.5em;
    margin:0;
        img{
            box-shadow: 0px 0px 0px 5px $Accent;
            border-radius: 50%;
            border: 15px solid $AccentTrois;
        }   
        img:hover{
            opacity: 0.5;
        }
    }
}

