$Accent: #ff7ef2;
$Fond: #26182f;
$Titre: #eed3ff;
$SecondFond: #a673c6;
$AccentDeux: #ba8fd5;

.PiedPage {
  background: linear-gradient($Fond, $AccentDeux);
  width: 100%;
  height: 2em;
  text-align: center;
  position:fixed;
  bottom:0;
}
