$Accent: #FF7EF2;
$Fond: #26182F;
$Titre : #EED3FF; 
$SecondFond : #A673C6;
$AccentDeux : #BA8FD5;

.PiedPage{
    background: linear-gradient($Fond, $AccentDeux);
    height: 20em;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}