$Accent: #ff7ef2;
$Fond: #26182f;
$Titre: #eed3ff;
$SecondFond: #a673c6;
$AccentDeux: #ba8fd5;

.PiedPage {
  background: linear-gradient($Fond, $AccentDeux);
  height: 6em;
  width: 100%;

    .Socials{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
