$Accent: #ff7ef2;
$Fond: #26182f;
$Titre: #eed3ff;
$SecondFond: #a673c6;

.Social {
  display: flex;
  justify-content: space-between;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.7;
  a {
    
    div {
      background-color: $SecondFond;
      border: 5px solid $Accent;
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
  
}
.Social:hover {
    opacity: 1;
  }